# Dunder Data Challenge 004 - Finding the Date of the Largest Percentage Stock Price Drop 

In this challenge, you are given a table of closing stock prices for 10 different stocks with data going back as far as 1999. For each stock, find the date where it had its largest one-day percentage loss. The data is found in the `stocks10.csv` file with each stocks ticker symbol as a column name.

In [5]:
import pandas as pd
stocks = pd.read_csv('../data/stocks10.csv')
stocks.head()

         date   MSFT  AAPL    SLB   AMZN  TSLA    XOM    WMT      T  FB   V
0  1999-10-25  29.84  2.32  17.02  82.75   NaN  21.45  38.99  16.78 NaN NaN
1  1999-10-26  29.82  2.34  16.65  81.25   NaN  20.89  37.11  17.28 NaN NaN
2  1999-10-27  29.33  2.38  16.52  75.94   NaN  20.80  36.94  18.27 NaN NaN
3  1999-10-28  29.01  2.43  16.59  71.00   NaN  21.19  38.85  19.79 NaN NaN
4  1999-10-29  29.88  2.50  17.21  70.62   NaN  21.47  39.25  20.00 NaN NaN

### Challenge

There is a nice, fast solution that uses just a minimal amount of code without any loops. Can you return a Series that has the ticker symbols in the index and the date where the largest percentage price drop happened as the values.

#### Extra challenge

Can you return a DataFrame with the ticker symbol as the columns and a row for the date and another row for the percentage price drop?